/* Generic rules */
a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

[class*="col"]{
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    min-height: 50px;
    background-color: rgb(84, 84, 216);
    border: solid 1px white;
}

.row{
    justify-content: center;
}

/* Header */
header .row{
    min-height: 50px;
}

/* Jumbotron */
.jumbotron .jumbo_pic{
    width: 200px;
}

/* Main */
main section .main_pic{
    width: 240px;
    border-radius: 15px;
}


/* Other */
.inside_row{
    padding: 10px 10px;
}

.inside_col{
    background-color: green;
    border: none;
    border: solid 1px rgb(84, 84, 216);
}

.space{
    height: 25px;
}