/* Generic rules */
a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

[class*="col"]{
    /* debug */
    min-height: 50px;
    background-color: rgb(84, 84, 216);
    border: solid 1px white;
    /* color: white;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* Header */
header .row{
    min-height: 50px;
}

header .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Jumbotron */
.jumbotron .row{
    /* debug */
    min-height: 500px;
}

.jumbotron .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron .jumbo_pic{
    width: 200px;
}


/* Other */
.inside_row{
    padding: 10px 10px;
}

.inside_col{
    background-color: green;
    border: none;
    border: solid 1px rgb(84, 84, 216);
}

.space{
    height: 25px;
}